<%= render 'open_api_menu' %>
<div id="content">
	  <% if notice %>
	    <div>
	      <ul>
	        <li><%= notice %></li>
	      </ul>
	    </div>
  	<% end %>

  	<span class="graytitle">问题:</span>
	  <ul class="pageitem">
	    <li class="textbox">
	      <span class="graytitle">
	        <span class="name"><%= @current_question.body %></span>
	      </span>
	    </li>
	  </ul>

    	<span class="graytitle">选项</span>
    	<ul class="pageitem">
        <% i = 0 %>
    		<% @options.each do |option| %>
    		  <li class="checkbox">
              <span class="name">
                <%= @option_all_tags[i] %>   <%= option.body %>
              </span>
    		  </li>
          <% i = i + 1 %>
    		<% end %>
    	</ul>

</div>
