<div id="topbar">
  <div id="title">随堂练习</div>
  <div id="leftnav">
    <%= link_to '主页', admins_path %><%= link_to "返回", show_all_quizzes_admins_path %>
  </div>
  <div id="rightnav">
    <%= link_to "新添", new_course_quiz_path(@current_course) %>
  </div>
</div>

<div id="content">
  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>

  <span class="graytitle">练习列表</span>
  <ul class="pageitem">
    <% @quizzes.each do |quiz| %>
      <li class="menu">
        <span class="name"><%= quiz.name %></span>
        <span>
          <%= link_to "", course_quiz_questions_path(@current_course, quiz) %>
        </span>
        <span class="arrow"></span>
      </li>
    <% end %>
  </ul>
  <br />
  <br />
  <h1 style="float:right;position:relative;right:20px;text-decoration: underline;"><%= link_to "新添", new_course_quiz_path(@current_course) %></h1>
</div>



