<div id="topbar">
  <div id="title">群组讨论</div>
  <div id="leftnav">
    <%= link_to '返回', group_posts_path(@group) %>
  </div>
  <div id="rightnav">
    <%= link_to '新添', new_group_post_comment_path(@group, @post) %>
  </div>
</div>

<div id="duobutton">
  <div class="links">
    <%= link_to "消息详情", group_post_path(@group, @post), :method => :get %><%= link_to "全部评论", group_post_comments_path(@group, @post), :method => :get, "id" => "pressed" %>
  </div>
</div>
 
<div id="content">

  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>

  <span class="graytitle">全部评论</span>
  <% @comments.each do |comment| %>
    <ul class="pageitem">
      <li class="textbox">
        <span class="header">
          <% if not comment.teacher_id.nil? %>
            <%= comment.teacher.teacher_info.name %>
          <% else %>
            <%= comment.student.student_info.name %>
          <% end %>
        </span>
        <%= comment.body %>
        <p>
          <% if comment.teacher_id and comment.teacher_id == session[:teacher_id] %>
            <%= link_to '新添', new_group_post_comment_path(@group, @post), :method => :get %> |
            <%= link_to "删除", group_post_comment_path(@group, @post, comment), :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </p>  
      </li>
    </ul>
  <% end %>

</div>


