<%= form_for(@student) do |f| %>

  <% if @student.errors.any? %>
    <div>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <span class="graytitle">新密码:</span>
  <ul class="pageitem">
    <li class="bigfield">
      <%= f.password_field :password, :size => 20, "placeholder" => "Password", "type" => "password"%>
    </li>
  </ul>

  <span class="graytitle">新密码确认:</span>
  <ul class="pageitem">
    <li class="bigfield">
      <%= f.password_field :password_confirmation, :size => 20, "placeholder" => "Password", "type" => "password"%>
    </li>
  </ul>
  <ul class="pageitem">
    <li class="button"><%= submit_tag "确认", "type" => "submit" %></li>
  </ul>
  
<% end %>