
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta http-equiv="refresh" content="30" /> 
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link rel="apple-touch-icon-precomposed" href="http://static.31huiyi.com/img/wall/wall_logo.png">
    
    <link rel="icon" type="image/x-icon" href="http://wall.31huiyi.com/favicon.ico" mce_href="/dir/favicon.ico">
    <title>微信墙_活动现场</title>
    <meta name="keywords" content="微信墙_活动现场">
    <meta name="description" content="微信墙_活动现场">
    
    <link rel="stylesheet" type="text/css" href="./question_wall_files/bootstrap.min.wall.css">
    <link rel="stylesheet" type="text/css" href="./question_wall_files/ui-swiper.css">
    <link rel="stylesheet" type="text/css" href="./question_wall_files/ui-modals.css">
    <link rel="stylesheet" type="text/css" href="./question_wall_files/ui-photoswipe.css">
    <link rel="stylesheet" type="text/css" href="./question_wall_files/style.css">
    <link rel="stylesheet" type="text/css" href="./question_wall_files/temp.css">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="http://static.31huiyi.com/css/wall/ie.css?v=1.2" />
    <![endif]-->
        <style type="text/css">
            body {
                background: url('http://www.31huiyi.com/Uploads/Files/2014/06/11/281103/635380516931199313.jpg') no-repeat 50% 50%;
                background-size: 100% 100%;
            }
        </style>

        <style type="text/css">
            .row-talking .item .con .txt {
                color: #b80202;
            }
        </style>
    <style type="text/css">
        .body-skin-module-5 .row-head-1 .txt-con .txt,
.body-skin-module-5 .row-head-1 .txt-con .txt-2 { color: #fff; background: none; }
.body-skin-module-5 .row-talking .box,
.body-skin-module-5 .container-fixed-alert .alert-info { background: #fff; border-radius: 10px; }
.body-skin-module-5 .row-talking .txt { color: #b80202; }

    </style>
    <script type="text/javascript">
        var $CONFIG = {};
        $CONFIG['wallid'] = '522006e6b8bf950ebc764102';
        $CONFIG['qrcode'] = '3188';
        $CONFIG['voteid'] = '';
        $CONFIG['act'] = 'chat';
    </script>

<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="http://static.31huiyi.com/app/wall/big_screen_frame.js?v=2.4" src="./question_wall_files/big_screen_frame.js"></script><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -90px !important;
    width: 180px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="bootstrap" src="./question_wall_files/bootstrap.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="utils" src="./question_wall_files/utils.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="swiper" src="./question_wall_files/swiper.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="touch" src="./question_wall_files/touch.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="polling" src="./question_wall_files/polling.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="swiperHashnav" src="./question_wall_files/swiper.hashnav.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquery" src="./question_wall_files/jquery.min.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="http://static.31huiyi.com/app/wall/big_screen_topic.js?v=1411968984784" src="./question_wall_files/big_screen_topic.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="template" src="./question_wall_files/template.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="dialogTools" src="./question_wall_files/dialogTools.js"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="dialog" src="./question_wall_files/dialog.js"></script></head>
<body class="body-skin-module-5">
    


<div class="swiper-container swiper-body">
  <div class="swiper-wrapper" style="width: 6095px; height: 651px;">
  <!--活动现场-->
    	<div class="swiper-slide swiper-slide-parent swiper-slide-visible swiper-slide-active" data-hash="chat" style="width: 1219px; height: 651px;">
				<div class="container container-static container-static-wechatwall container-topic" data-topiccount="1">

    								<div class="row row-head-1 " style="position:relative;">
          								<div class="col-md-12 col-xs-12">
            											<div class=""><img class="img img-logo" src="./question_wall_files/tubiao.png"></div>
           											 <div class="txt-con  sel-topic txt-con-2">
             													 <h1 class="txt">提问墙</h1>
             													 <div class="list-group sel-box" style="display: none; overflow: hidden;">
               															 <a href="javascript:void(0)" class="list-group-item item" data-id="53b6797db8bf9516ccffaa81" data-userid="0" data-title="31演示微信墙（演示版本）" data-sub="">31演示微信墙（演示版本）</a>
              													</div>
              													<span class="glyphicon glyphicon-chevron-down arrow" style="display: none;"></span>
            											</div>
          								</div>
    								</div>

		<!-- 对话 -->

										<div class="row row-talking row-talking-4 is-scroll is-scroll-hover">
														<% @problems.each do |problem| %>
   												 <div class="col-md-12 col-xs-12 item" data-floor="2029">
       															 <div class="box">            
            																			<img class="pull-left img img-circle" src="./question_wall_files/default_face.png" alt="">            																			<div class="con">																										
																													<div class="tit"><%= problem.user %></div>
																													<div class="txt"><%= problem.body %></div>
																												  	
        																					</div>
        																					<div class="pull-right txt-tip">
																												<%= problem.time %>
																												<span class="txt-floor"><%= problem.number %></span>楼
																												<span><%= link_to '移除', delete_problem_problems_path(problem.id), method: :get %></span>
       																					 </div>
    																	 </div>
														 </div>
														 <% end %>
										</div>

				</div>
			</div>

	</div>
</div>



