<meta http-equiv="refresh" content="30" />
<div id="topbar">
  <div id="title"><%= "课程名称"%></div>
  <div id="leftnav">
    <%= link_to "主页", students_path, :method => :get %>
  </div>
  <div id="rightbutton">
    <%= link_to "提问", new_problem_path, :method => :get %>
  </div>
</div>

<%= render 'menu' %>
<%= render 'problem' %>
