<div id="topbar">
	<div id="title"><%= @course.name %>--预习材料</div>
	<div id="leftbutton">
		<%= link_to '返回', show_previews_admins_path %>
	</div>
	
</div>
<table>
	<% if @previews.present? %>
		<% @previews.each do |pre| %>
			<tr>
				<td><%= sanitize(pre.body) %></td>
				<td><%= link_to '编辑', edit_course_preview_path(@course.id, pre.id) %></td>
				<td><%= link_to '删除',course_preview_path(@course.id, pre.id), method: :delete %></td>
			</tr>
		<% end %>
	<% end %>
</table>

<h1 style="float:right;position:relative;right:20px;text-decoration: underline;"><%= link_to '新添', new_course_preview_path(@course.id) %></h1>

